﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{

    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQHDUmLQwiRSFg/company-background_10000/0/1607016319202?e=2159024400&v=beta&t=4lIqcUDqiVzAGj78h9TOrYygE0o9Zlw7_CuII9lJiHM')">
</body>
<div class="text-left">
    <h1 class="display-4">Welcome to SmartGarage!</h1>

    @{
        @if (User.Identity.IsAuthenticated)
        { 
            <h2>Hello, @User.Identity.Name!</h2>
        }
        else
        {
            <h2>Hi, anonymous!</h2>
        }
    }

    @if (User.IsInRole("Employee"))
    {
        <h2>You are an Employee</h2>
    }
    else if (User.IsInRole("Customer"))
    {
        <h2>You are a Customer</h2>
    }
    else
    {
    }

</div>
