﻿@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars</h1>
<br />
<br />
<p>
    <a asp-action="Create" asp-controller="Car" class="btn btn-success">Create Car</a>
</p>
<br />

<form asp-area="" asp-controller="Car" asp-action="Index">
    <div class="form-group custom-size">

        <label>Customer</label>
        <select name="UserId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["UserId"])"></select>

        <br />
        <input type="submit" value="Filter" role="button" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Registration Plate
            </th>
            <th>
                Model
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Customer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.RegistrationPlate
                </td>
                <td>
                    @item.CarModelName
                </td>
                <td>
                    @item.ManufacturerName
                </td>
                <td>
                    @item.UserName
                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class = "btn btn-outline-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class = "btn btn-outline-dark">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
