﻿@model UserViewModelAdmin
@{ ViewData["Title"] = "Delete"; }

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @if (Model.IsDeleted != null)
                {
    <span class="badge badge-danger">DELETED</span>
                    <form asp-action="UndoDelete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="UndoDelete" class="btn btn-outline-primary" />
                    </form> }
                                else
                                {
                    <span class="badge badge-primary">NOT DELETED</span>
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>}
            </dd>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>