﻿@model IEnumerable<UserViewModelAdmin>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Users</h1>
<br />
<br />
<p>
    <a asp-area="" asp-controller="User" asp-action="Create" class="btn btn-success">Create Customer</a>
</p>
<br />

<form asp-area="" asp-controller="User" asp-action="Index">
    <div class="form-group custom-size">

        <label>Names</label>
        <input name="FirstName" type="text" class="form-control" id="FirstName">

        <label>Email</label>
        <input name="Email" type="text" class="form-control" id="Email">

        <label>Phone</label>
        <input name="Phone" type="text" class="form-control" id="Phone">

        <label>BeforeDate</label>
        <input name="BeforeDate" type="date" class="form-control" id="BeforeDate">

        <label>AfterDate</label>
        <input name="AfterDate" type="date" class="form-control" id="AfterDate">

        <br />
        <input type="submit" value="Filter" role="button" class="btn btn-primary" />
    </div>
</form>

<div>
    <h1>@ViewData["message"]</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-area="" asp-controller="User" asp-route-order="name" asp-action="Index">Name</a>
            </th>
            <th>
                Email
            </th>
            <th>
                DeletedOn
            </th>
            <th>
                <a asp-area="" asp-controller="User" asp-route-order="visit" asp-action="Index">Visit</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <p>

                        @item.UserName @item.LastName
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @item.Email)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => @item.IsDeleted)
                </td>

                <td>
                    <a asp-area="" asp-controller="Visit" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-info">Visits</a>

                    <a asp-area="" asp-controller="Visit" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-info">Create Visit</a>
                </td>
                <td>
                    @if (item.IsDeleted != null)
                    {
                        <a asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">UndoDelete</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    }

                    <a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
