﻿@model IEnumerable<OperationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1>
<br />
<br />

<p>
    <a asp-action="Create" asp-controller="Operation" class="btn btn-success">Create Service</a>
</p>
<br />

<form asp-area="" asp-controller="Operation" asp-action="Index">
    <div class="form-group custom-size">

        <label>Name</label>
        <input name="Name" type="text" class="form-control" id="Name">

        <label>Price</label>
        <input name="Price" type="text" class="form-control" id="Price">

        <br />
        <input type="submit" value="Filter" role="button" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <p>
                        @item.PriceValue EUR
                    </p>
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Operation" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> 
                    
                    <a asp-action="Delete" asp-controller="Operation" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete shipment : @item.Name')" value="Delete" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>