﻿@model VisitCurrencyViewModel

<div class="row">
    <div class="col-3">
        @Html.DisplayNameFor(x => x.TotalPrice)
    </div>
    <div class="col-8">
        @Model.TotalPrice
        @Model.Currency
    </div>
    <div class="col-3">
        @Html.DisplayNameFor(x => x.Date)
    </div>
    <div class="col-8">
        @Model.Date
    </div>
    <div class="col-3">
        Car
    </div>
    <div class="col-8">
        @Model.CarId
    </div>
    <div class="col-3">
        Operations
    </div>
    <div class="col-8">
        @foreach (var i in Model.Operations)
        {

            <td>
                @i.Name <br>
            </td>
            <td>
                @i.PriceValue
                @i.PriceCurrency <br>
            </td>

        }
    </div>
</div>
<hr />

<form asp-area="" asp-controller="Customer" asp-action="Details">
    <div class="form-group custom-size">

        <input name="id" type="hidden" value="@Model.Id" class="form-control">

        <label>Currency</label>
        <input name="Currency" type="text" class="form-control" id="Currency">

        <br />
        <input type="submit" value="Calculate" role="button" class="btn btn-outline-primary" />
    </div>
</form>

<hr />
<div>
    <a asp-action="Index" class="btn btn-info">Back to Index</a>
</div>