﻿@model VisitInputViewModel

<h4>Add new Visit:</h4>

<form asp-area="" asp-controller="Visit" asp-action="Create">
    <div class="form-group custom-size" sstyle="display: initial;">

        <label>Car</label>
        <select name="CarId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["CarId"])"></select>

        <label>Services</label>
        <select name="OperationId" class="select-dropdown form-control" readonly="true" multiple asp-items="@((List<SelectListItem>)ViewData["OperationId"])"></select>

        <br />
        <input type="submit" value="Create" role="button" class="btn btn-primary" />
    </div>
</form>
