﻿@model VisitCurrencyViewModel

<div class="row">
    <div class="col-3">
        @Html.DisplayNameFor(x => x.TotalPrice)
    </div>
    <div class="col-8">
        @Model.TotalPrice
        @Model.Currency
    </div>
    <div class="col-3">
        @Html.DisplayNameFor(x => x.Date)
    </div>
    <div class="col-8">
        @Model.Date
    </div>
    <div class="col-3">
        Car
    </div>
    <div class="col-8">
        @Model.CarId
    </div>
    <div class="col-3">
        Operations
    </div>
    <div class="col-8">
        @foreach (var i in Model.Operations)
        {

            <td>
                @i.Name <br>
            </td>
            <td>
                @i.PriceValue
                @i.PriceCurrency <br>
            </td>

        }
    </div>
</div>
<hr />
<div>
    <a class="btn btn-info" onclick="window.history.back()">Go back</a>
</div>