﻿@model IEnumerable<VisitCurrencyViewModel>

<form asp-area="" asp-controller="Visit" asp-action="Index">
    <div class="form-group custom-size">

        <label>Car</label>
        <select name="CarId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["CarId"])"></select>

        <label>BeforeDate</label>
        <input name="BeforeDate" type="date" class="form-control" id="BeforeDate">

        <label>AfterDate</label>
        <input name="AfterDate" type="date" class="form-control" id="AfterDate">

        <br />
        <input type="submit" value="Search" role="button" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Visits</th>
            <th>Car</th>
            <th>Date</th>
            <th>Service Name</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.CarId</td>
                <td>@i.Date</td>
                <td>
                    @foreach (var p in i.Operations)
                    {
                        <p>
                            @p.Name
                        </p>
                    }
                </td>
                <td>
                    @foreach (var p in i.Operations)
                    {
                        <p>
                            @p.PriceValue @p.PriceCurrency
                        </p>

                    }
                </td>
                <td><a asp-action="Details" asp-route-id="@i.Id" class="btn btn-info">Details</a></td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="User" asp-action="Index" class="btn btn-info">Back to Index</a>
</div>